name: NetaVPN

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    # Flutter 설치
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.13.0'

    # Flutter dependencies 설치
    - name: Install Flutter dependencies
      run: flutter pub get

    # iOS Pod 설치 (CocoaPods 필요 시)
    - name: Install CocoaPods
      run: |
        cd ios
        pod install
        cd ..

    # iOS 빌드
    - name: Build iOS IPA
      run: flutter build ios --release --no-codesign

    # 빌드 결과 업로드
    - name: Upload IPA
      uses: actions/upload-artifact@v3
      with:
        name: ipa
        path: build/ios/ipa
