name: NetaVPN iOS Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_ios:
    runs-on: macos-latest

    steps:
    - uses:  actions/checkout@v4

    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.13.0'
        channel: 'stable'
        cache: false

    - name: Check Flutter version
      run: flutter --version

    - name: Install Flutter dependencies
      run: flutter pub get

    - name: Install CocoaPods dependencies
      run: |
        cd ios
        pod install --repo-update
        cd ..

    - name: Build iOS Release
      run: flutter build ios --release --no-codesign

    - name: Upload iOS build
      uses: actions/upload-artifact@v4
      with:
        name:  ios-build-release
        path: build/ios/Release-iphoneos/
        if-no-files-found: warn
