name: NetaVPN iOS Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_ios:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.13.0'
        channel: 'stable'
        cache: false

    - name: Check Flutter & Dart version
      run: flutter --version

    - name: Install Flutter dependencies
      run: flutter pub get

    - name: Ensure CocoaPods installed
      run: sudo gem install cocoapods

    - name: Install iOS pods
      run: |
        cd ios
        pod install
        cd ..

    - name: Build iOS IPA
      run: flutter build ios --release --no-codesign

    - name: Upload IPA
      uses: actions/upload-artifact@v4
      with:
        name: ipa
        path: build/ios/ipa
